#air-cleaner-recommendations-container {
    position: relative;
    padding: 20px;
}

#air-cleaner-recommendations-header {
    display: flex;
    
}

#back-button {
    background-color: white;
    padding: 10px;
    /*position: absolute;
    top: 50px;
    left: 50px;*/
    
}

#air-cleaner-recommendations-title-container {
    background-color: white;
    color: grey;
    padding: 10px;
    /*position: absolute;
    top: 25px;
    left: 400px;*/
}

#air-cleaner-recommendations-title {
    text-align: center;
}

#sort-key-choice-container {
    display: flex;
    justify-content: center;
    margin-left: 500px;
}

#air-cleaner-recommendations-list-and-filter-options {
    display: flex;
    margin-top: 150px;
}

#air-cleaner-list-and-sort-key-container { 
    width: 100%;
}