#air-cleaner-recommendations-container {
    position: relative;
    padding: 20px;
}

#air-cleaner-recommendations-header {
    display: flex;   
}

#back-button {
    background-color: white;
    padding: 10px;
    max-width: 100px;
    margin-top: 50px;
    display: inline-block;
}

#air-cleaner-recommendations-title-container {
    background-color: white;
    padding: 10px;
    width: 450px;
    position: absolute;
    top: -100px;
    left: 10px;
}

#air-cleaner-recommendations-title {
    text-align: center;
}

#sort-key-choice-container {
    position: absolute;
    right: -10px;
    top: -60px;
}

#air-cleaner-recommendations {
    display: flex;
    margin-top: 25px;
}

#air-cleaner-list-and-sort-key-container { 
    width: 100%;
}

#air-cleaner-recommendations-page-center-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#air-cleaner-recommendations-page-center {
    position: relative;
}