#air-cleaner-list-item {
    width: auto;
    border: 1px solid black;
    display: flex;
    margin-left: 10px;
}

#air-cleaner-image {
    width: 450px;
    border: 0.5px solid black;
    height: 250px;
}

#air-cleaner-details {
    padding-right: 100px;
    padding-left: 5px;
    width: 550px;
}

#air-cleaner-name {
    font-size: 20px;
}