#air-cleaner-list-item {
    
    display: flex;
    margin-left: 10px;
    background-color: white;
    height: 225px;
    width: 100%;
}

#air-cleaner-image {
    width: 400px;
}

#air-cleaner-details {
    padding-left: 5px;
}

#air-cleaner-name {
    font-size: 20px;
}