#cadr-wrapper {
  background: white;
  border-radius: 25px;
  border: 2px solid white;
  height: 275px;
  width: auto;
  display: flex;
  align-items: center; /*horizontal centering*/
  justify-content: center; /*vertical centering*/
  margin: 35px;
}

.cadr-input {
  display: inline-block;
  font-size: 18pt;
  margin: 20px;
  width: 50%;
}

#card-input-left {
  margin-right: 75px;
}

#cadr-input-right {
  margin-left: 75px;
}

#cadr-input {
  margin-left: 30px;
  height: 25px;
  border: 2px solid black;
}

#cadr-input-text,
#cadr-text-tip {
  font-weight: bold;
}
