#filter-options {
    width: 250px;
    height: 550px;
    padding-left: 20px;
    background-color: white;
}

.filter-option {
    display: flex;
    align-items: center;
}

.filter-option-input {
    width: 50px;
    height: 25px;
}

.filter-option-unit-dollar {
    margin-right: 3px;
}

.filter-option-unit-inch {
    margin-left: 2px;
    margin-right: 5px;
}

#filter-option-unit-final-inch {
    margin-left: 2px;
}

.filter-option-unit-other {
    margin-left: 3px;
}