#language-selection {
    display: flex;
    position: absolute;
    right: 35px;
    top: 108px;
    font-size: 23px;
}

#language-selection-dropdown {
    font-size: 20px;
    height: 28px;
    margin-top: 23px;
    margin-left: 10px;
}