#next-step-arrow-container {
    position: absolute;
    right: 60px;
    bottom: 40px;
    width: 200px;
    height: 100px;
}

#next-step-arrow-triangle {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid blueviolet;
    position: absolute;
    right: 0px;
    bottom: 5px;
}

#next-step-arrow-rectangle {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    position: absolute;
    right: 50px;
    bottom: 30px;
}