#calculator-wrapper {
  display: flex;
  flex-direction: column;
}

#calculator-title {
  font-size: 45pt;
  font-style: normal;
  font-weight: bold;
  color: #555555;
  text-align: center;
}

.step-title {
  font-weight: bold;
  font-size: 40pt;
  color: #555555;
  margin: 4% 0 8% 5%;
}

.step-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-wrapper {
  display: flex;
  background: rgba(110, 118, 125, 0.5);
  padding: 20px;
  width: fit-content;
  flex-direction: column;
}

.input-title {
  display: block;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.user-input {
  width: 250px;
  height: 50px;
  font-size: 18pt;
  margin-bottom: 15px;
}

#img-roomdim {
  width: 400px;
  height: 400px;
}

#ventilation-left-box {
  width: 30%;
}

.extra-text {
  font-size: 19pt;
  font-weight: 400;
  text-align: left;
}

#density-extra-text {
  margin-left: 5%;
  width: 50%;
}

#cadr-input {
  width: 325px;
}

#img-ventilation {
  width: 350px;
  height: 350px;
}

#extra-text-title {
  font-weight: 700;
  font-size: 20pt;
}

#button-wrapper {
  margin: 2% 5% 5% 70%;
}

#results-btn {
  background-color: rgb(234, 95, 20, 1);
  color: white;
  border: white;
  height: 48px;
  width: 200px;
  font-size: 18px;
  text-align: center;
}

#img-cadr {
  height: 500px;
  width: 350px;
}

#img-density {
  height: 400px;
  width: 300px;
}

.helptext {
  font-weight: bold;
  font-size: 19pt;
  color: black;
  margin: -4% 0 2% 5%;
  width: 50%;
}

span {
  font-weight: bold;
}

@media (max-width: 920px) {
  #img-density,
  #img-roomdim,
  #img-density,
  #img-ventilation,
  #img-cadr {
    display: none;
  }

  #calculator-title {
    font-size: 35pt;
  }

  .step-title {
    font-size: 30pt;
  }

  .input-title {
    font-size: 15pt;
  }

  .user-input {
    width: 200px;
    height: 40px;
    font-size: 15pt;
  }

  .help-text {
    font-size: 15pt;
    margin-left: 5%;
  }

  .step-wrapper {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  #calculator-title {
    font-size: 23pt;
  }

  .step-title {
    font-size: 20pt;
  }

  .user-input {
    width: 200px;
    height: 40px;
    font-size: 15pt;
  }

  .step-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .help-text {
    font-size: 15pt;
    width: fit-content;
    margin: 3%;
  }

  #ventilation-text {
    width: fit-content;
    font-size: 15pt;
    margin: 3%;
  }

  #ventilation-text-title {
    font-size: 16pt;
  }

  #ventilation-left-box,
  #density-left-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #button-wrapper {
    margin: 20px auto;
  }
}
