header {
    display: flex;
    margin: 15px;
    padding-bottom: 150px;
    border: 1px solid black;
}

#app-title {
    position: absolute;
    right: 35px;
    top: 0px;
    font-size: 45px;
}

.logo {
    position: absolute;
    top: -35px;
    left: -30px;
}