.calculator-ventilation {
  background: white;
  border-radius: 25px;
  border: 2px solid white;
  /* display: flex; */
  /* align-items: center; horizontal centering */
  /* justify-content: center; vertical centering */
  padding: 10px;
  text-align: center;
}

#calculator-ventilation-input {
  width: 500px;
  margin-right: 150px;
}

#calculator-ventilation-input,
#calculator-ventilation-info {
  height: 275px;
  display: inline-block;
}

#calculator-ventilation-info {
  width: 800px;
}

.ventilation-info {
  display: inline-block;
  width: 50%;
  text-align: center;
  vertical-align: top;
}

#ventilation-info-text {
  padding-top: 20px;
}

#ventilation-image {
  padding-top: 20px;
}

#ventilation-image-title {
  padding-top: 15px;
  font-weight: bold;
}

#ventilation-rating-dropdown {
  margin-left: 50px;
  font-size: 16pt;
  margin-top: 120px;
}

.calculator-input-title {
  font-size: 18pt;
  font-weight: bold;
  padding-left: 15px;
}
