#air-cleaner-details-container {
    display: flex;
    justify-content: center;
}

#air-cleaner-details {
    border: 1px solid grey;
    border-radius: 5px;
    width: 803px;
    padding-left: 10px;
    position: relative;
    background-color: white;
    align-items: center;
}

#air-cleaner-details-header {
    display: flex;
}

#close-air-cleaner-details-button {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
    font-size: 20px;
}

#air-cleaner-details-body {
    display: flex;
}

#air-cleaner-details-body p {
    margin-left: 25px;
    margin-block-start: 0px;
}