#air-cleaner-recommendations-container {
    position: relative;
    padding: 20px;
    background: white;
}

#air-cleaner-recommendations-header {
    display: flex;   
}

#back-button {
    background-color: white;
    padding: 20px;
    font-size: 20px;
    position: absolute;
    background-color: rgb(234, 95, 20, 1);
    color: white;
    border-radius: 5px;
    border: 0px;
    left: 20px;
    top: 35px;
}

#air-cleaner-recommendations-title {
    color: #00A2C7;
    position: absolute;
    top: 225px;
    font-size: 25px;
}

#air-cleaner-recommendations {
    display: flex;
}

#air-cleaner-list-and-sort-key-container { 
    width: 100%;
}

#air-cleaner-recommendations-page-center-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#air-cleaner-recommendations-page-center {
    position: relative;
    width: 815px;
}

#various-air-cleaners-image {
    margin-top: 5px;
}