header {
  display: flex;
  margin-bottom: 15px;
}

body {
  background-color: rgba(255, 0, 0, 0.2);
}

#app-title {
  position: absolute;
  right: 50px;
}

.tabs {
  display: flex;
  position: absolute;
  right: 250px;
  top: 130px;
  font-size: 25px;
}

.tab {
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}
