header {
  display: flex;
  margin-bottom: 15px;
}

#app-title {
  position: absolute;
  right: 50px;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
}